@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #21295c;
}

::-webkit-scrollbar-thumb {
  background: #a2ba02;
}

::-webkit-scrollbar-thumb:hover {
  background: #6c7d02;
}
