@tailwind base;
@tailwind components;
@tailwind utilities;

.h-15 {
  height: 3.75rem !important;
}

@keyframes bounce {
  0% {
    transform: translateY(-40%);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-bounce {
  animation: smoothScroll 1.5s ease-out;
}

.icon-bar {
  display: block;
  width: 100%;
  height: 3px;
  background: #aaa;
  transition: 0.3s;
}
.icon-bar + .icon-bar {
  margin-top: 5px;
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#192a7a, #192a7a);
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
}

.loading-spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* ensure it appears on top of other content */
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #a5bb08;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.burger {
  position: relative;
  width: 30px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

/* add this to your :root variables */
.checkbox {
  --light: rgba(207, 205, 205, 0.425);
  --primary-color: #8c00ff;
  --duration: 0.3s;
  --ease: ease-in-out;
}

/* hide checkbox */
.checkbox input[type="checkbox"] {
  display: none;
}

.checkbox label {
  align-items: center;
  cursor: pointer;
  display: flex;
}

.checkbox label span {
  margin-left: 8px;
}

.checkbox svg {
  height: 30px;
  width: 30px;
}

/* svg rectangle property */
.checkbox svg > rect {
  fill: var(--light);
  stroke: #8c00ff;
  /* responsive values */
  stroke-dasharray: 400%;
  stroke-dashoffset: 400%;
  transition: var(--duration) stroke-dashoffset var(--ease);
}

/* svg check property */
.checkbox svg path {
  stroke: var(--primary-color);
  /* responsive values */
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  transition: var(--duration) stroke-dashoffset var(--ease);
}

.checkbox input[type="checkbox"]:checked + label svg > rect,
.checkbox input[type="checkbox"]:checked + label svg path {
  stroke-dashoffset: 0;
}
.image-container {
  position: relative;
  overflow: hidden;
  width: 150px; /* Adjust according to your design */
  height: 80px; /* Adjust according to your design */
}

.zoom-img {
  width: 50%;
  height: 50%;
  display: block;
}

.zoom-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Adjust the overlay color and opacity */
  pointer-events: none;
}

.zoomed-view {
  position: absolute;
  top: 0;
  right: 20px; /* Adjust the position of the zoomed view */
  width: 150px; /* Adjust the size of the zoomed view */
  height: 100px; /* Adjust the size of the zoomed view */
  overflow: hidden;
  border: 2px solid #000; /* Border for the zoomed view */
}

.zoomed-img {
  display: block;
  width: 100%;
  height: 100%;
}

